.cluster {
    position: absolute;
    transform-style: preserve-3d;
    width: var(--card-width);
    height: var(--card-height);
    overflow: visible
}

.cluster__timestamp {
    position: absolute;
    bottom: -24px;
    left: 0;
    font-family: var(--font-primary);
    font-size: var(--font-size-xs);
    color: var(--color-text-secondary);
    white-space: nowrap;
    letter-spacing: 0.03em;
}